@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  position: relative;
  /* 
  position: relative;
  요소를 일반적인 문서 흐름에 따라 배치하고, 자기 자신을 기준으로 top, right, bottom, left의 값에 따라 오프셋을 적용
  */
  width: 100%;
  min-height: 100vh;
  padding: 150px;
  display: flex;
  justify-content: space-between;
  /* 
  justify-content: space-between;
  <- 양쪽 -> 에만 공간을 준다.
  */
  align-items: center;
  background-color: #fff;
}

/* HEADER */
.header{
  position: absolute;
  /* 
  일반적인 문서 흐름에서 제거하고, 페이지 레이아웃에 공간도 배정하지 않습니다.
  가장 가까운 위치 지정 조상 요소에 대해 상대적으로 배치
  */
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo{
  position: relative;
  display: flex;
  align-items: center;
  max-width: 80px;
}
.header .header__logo img{
  width: 100%;
}
.header .header__menu{
  position: relative;
  display: flex;
}
.header .header__menu li{
  list-style: none;
}
.header .header__menu li a{
  display: inline-block;
  /* 
    내용물 만큼의 너비를 가진다. inline은 높이와 너비가 설정이 불가능하기 때문에 inline-block을 사용
  */
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

/* CONTENTS */
.content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .content__text{
  position: relative;
  max-width: 600px;
}
.content .content__text h2{
  color: #333;
  font-size: 4em; /* = 64px */
  /* 
  em과 rem
  em은 자기 자신or 부모의 글자 크기를 기준으로 설정한다
  rem은 root의 크기를 기준으로 크기를 설정한다. = 16px 기준
  현재 설정한 글자 크기가 없기때문에 부모로 부터 상속받는다.
  따라서 16px * 4 = 64px이 된다.
  */
  line-height: 1.4em;
  /* 
  행간 = 줄간격
  em 단위를 사용한다.
  */
  font-weight: 500;
}
.content .content__text h2 span{
  color:#017143;
  /* 위에서 h2의 폰트 사이즈를 64px로 설정했기 때문에,
    font-size:1em;은 64 * 1.2 = 76.8px가 된다.
  */
  font-size: 1.2em;
  font-weight: 900;
}
.content .content__text p {
  color: #333;
}
.content .content__text a{
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background-color: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.content__image{
  width: 600px;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
.content__image img{
  max-width: 380px;
}

/* Thumbnail */
.thumb{
  position: absolute;
  bottom: 20px;
  /* 
    left:50%로 가운데 정렬을 할 경우
    기준점이 왼쪽 상단 (0,0)을 기준으로 정렬이기 때문에
    transform을 이용해 정렬된 박스의 너비의 50퍼를 뒤로 이동시켜줘야한다.
  */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.thumb .thumb__item{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.3s;
}
.thumb .thumb__item:hover{
  transform: translateY(-15px);
}
.thumb .thumb__item img{
  max-width: 60px;
}

/* sns */
.sns{
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sns .sns__item{
  list-style: none;
}
.sns .sns__item a{
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
  filter: invert(1);
}

/* bg circle */
.circle{
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #017143;
  /* 
    포토샵 마스크 클리핑과 비슷하다
    보여줄 부분을 정해서 보여준다.
  */
  clip-path: circle(600px at right 900px);
}